<section class="animate__animated animate__fadeInUp">
	<div class="text-center mt-5">
		<img src="assets/github.png" width="100" alt="App icon">
		<h1><span class="heading px-3 py-1">Github Portal</span></h1>
	</div>
	<div class="mt-4 text-center">
		<p>Developed by <a href="https://github.com/panesar1810" target="_blank">Sukhpreet Singh</a></p>
	</div>
	<div class="mt-5 pt-5 text-center">
		<p class="m-0">Any suggestions are appreciated! email me at <br> <span class="text-green">panesar.pb08@gmail.com</span></p>
	</div>
</section>
