<section class="animate__animated animate__fadeInUp">
	<div class="card mt-3 px-5 py-3">
		<div>
			<button class="px-3 btn text-blue bg-blue" (click)="goBack()">
				<i class="fas fa-long-arrow-alt-left"></i>
			</button>
		</div>
		<p>
			<span class="repo-heading text-blue">{{ repo.full_name }}</span>
			<span class="lang bg-green ml-3 px-3 text-white">{{ repo.language }}</span>
		</p>
		<hr>
		<div><p>{{ repo.description }}</p></div>
		<div>
			<p><a [href]="repo.html_url" target="_blank">Github Link</a></p>
			<div class="row">
				<div class="col-md-2">
					<p>Clone url</p>
				</div>
				<div class="col-md-10">
					<p><button class="mr-2 px-2 pt-0 btn text-blue bg-blue" ngxClipboard [cbContent]="repo.clone_url">Copy</button> {{ repo.clone_url }}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<p>GIT url</p>
				</div>
				<div class="col-md-10">
					<p><button class="mr-2 px-2 pt-0 btn text-blue bg-blue" ngxClipboard [cbContent]="repo.git_url">Copy</button> {{ repo.git_url }}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<p>SSH url</p>
				</div>
				<div class="col-md-10">
					<p><button class="mr-2 px-2 pt-0 btn text-blue bg-blue" ngxClipboard [cbContent]="repo.ssh_url">Copy</button> {{ repo.ssh_url }}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<p>Created At</p>
				</div>
				<div class="col-md-10">
					<p>{{ repoDate }}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<p>Default Branch</p>
				</div>
				<div class="col-md-10">
					<p>{{ repo.default_branch }}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<p>Repo size</p>
				</div>
				<div class="col-md-10">
					<p>{{ repo.size }} kb</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<p>Archived</p>
				</div>
				<div class="col-md-10">
					<p><span *ngIf="repo.archived; else no">Yes</span><ng-template #no>No</ng-template></p>
				</div>
			</div>
		</div>
	</div>
</section>
